body {
  padding: 0;
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: black;

  background-color: white;
}

a {
  text-decoration: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0000);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.logo {
  width: 220px;
  height: 47px;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.logo img {
  display: block;
  margin: auto;
  margin-top: 13px;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.main-header {
  padding-bottom: 60px;
  margin-bottom: 60px;

  background-color: #f3f7f8;
}

.user-navigation {
  display: flex;
  align-items: center;

  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.input-container {
  position: relative;

  padding-top: 14px;
  padding-right: 82px;
  padding-bottom: 13px;
  padding-left: 49px;
}

.input-container::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 17px;

  width: 17px;
  height: 17px;
  background-image: url(../img/icon-find.png);
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.3;
}

.input-container:hover::before,
.input-container:focus::before {
  opacity: 1;
}

.input-container:active::before {
  opacity: 0.5;
}

/*стили для placeholder*/

::-webkit-input-placeholder {
  color:#ffffff;
}

::-moz-placeholder {
  color:#ffffff;
}

:-moz-placeholder {
  color:#ffffff;
}

:-ms-input-placeholder {
  color:#ffffff;
}

.user-navigation ul {
  display: flex;

  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

.user-navigation a {
  color: #ffffff;
}

.user-navigation input {
  color: white;
  background-color: #293449;
  border: none;
}

.other-style {
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 14px;
  padding-left: 45px;

  background-color: #293449;
}

.bookmarks {
  position: relative;
}

.bookmarks::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url(../img/icon-bookmarks.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks:hover::before,
.bookmarks:focus::before {
  opacity: 1;
}

.bookmarks:active::before {
  opacity: 0.5;
}

.basket {
  position: relative;
}

.basket::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 17px;

  width: 15px;
  height: 15px;

  background-image: url(../img/icon-basket.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.basket:hover::before,
.basket:focus::before {
  opacity: 1;
}

.basket:active::before {
  opacity: 0.5;
}

.user-navigation input:hover,
.other-style:hover,
.other-style:focus {
  background-color: #212a3a;
}

.other-style:active {
  background-color: #161d29;
}

.user-navigation input:active,
.user-navigation input:focus {
  background-color: #ffffff;
  color:black;
}

.green-li {
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 14px;
  padding-left: 20px;

  background-color: #63a63e;
}

.green-li:hover,
.green-li:focus {
  background-color: #5fbb2d;
}

.green-li:active {
  background-color: #518534;
}

.header-middle-area {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 50px;
}

.description-magazine {
  width: 196px;
  margin: 0;
  margin-left: 53px;
  margin-top: 54px;
  padding: 0;

  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
}

.header-contacts p {
  margin: 0;
  padding: 0;
}

.header-contacts,
.login {
  margin: 0;
  padding: 0;
  margin-top: 46px;
}

.header-contacts .phone {
  padding: 13px 52px 11px 74px;
  margin-bottom: 10px;
  border: 3px solid #ffffff;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.login {
  display: flex;

  list-style: none;
}

.login a {
  font-size: 21px;
  line-height: 21px;
  color: black;

  background-color: #ffffff;
}

.login li:first-child a {
  padding-top: 14px;
  padding-right: 27px;
  padding-bottom: 15px;
  padding-left: 48px;
}

.login li:last-child a {
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  margin-left: 10px;
}


.login a:hover,
.login a:focus {
  color: #ee3643;
}

.login a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation-ul {
  min-height: 60px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
}

.site-navigation-ul li:first-child {
  margin-left: 21px;
}

.site-navigation-ul li:last-child {
  margin-right: 24px;
}

.site-navigation a {
  padding-top: 20px;
  padding-right: 31px;
  padding-bottom: 20px;
  padding-left: 31px;

  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.promo {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 53px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  list-style: none;
}

.promo ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.promo p {
  padding: 10px 24px;
  padding-bottom: 10px;
  margin: 0;
  width: 95px;
  text-align: center;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1)
}

.promo a:hover p,
.promo a:focus p {
  background-color: rgba(0, 0, 0, 0.2)
}

.promo a:active p {
  background-color: rgba(0, 0, 0, 0.3)
}

.promo li {
  width: 300px;
  height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.not-slider-li {
  padding-top: 26px;
  padding-left: 23px;
  box-sizing: border-box;
}

.promo li:nth-child(3) {
  margin-right: 0;
}

.promo li:nth-child(4) {
  width: 620px;
  min-height: 266px;
}

.right-column-promo {
  width: 300px;
}

.promo p,
.promo a {
  color: white;
}

.slider li:last-child {
  display: none;
}

.slider li:first-child {
  margin-right: 20px;
  padding: 1px;
  width: 620px;
  height: 266px;
}

.yellow {
  background-image: url("../img/bg-materials.png");
  background-position: top center;
}

.blue {
  background-image: url("../img/bg-instrument.png");
  background-position: top center;
}

.purple {
  background-image: url("../img/bg-technics.png");
  background-position: top center;
}

.green {
  background-image: url("../img/bg-sales.png");
  background-position: top center;
}

.delivery-yellow {
  background-image: url("../img/bg-delivery.png");
  background-position: top center;
}

.button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.slider .button {
  padding: 14px 0;
  padding-left: 49px;
  padding-right:45px;
}

.products-promo {
  margin-bottom: 53px;
}

.background-popular-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 89px;
  margin-bottom: 21px;

  background-color: #f9f5f0;
}

.background-popular-product .button {
  padding: 14px 55px;
}

.popular-product-title {
  padding: 0;
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 21px;

  list-style: none;
}

.order-h3 {
  display: flex;
  flex-direction: column;
}

.order-h3 h3 {
  padding: 0;
  margin: 0;
  margin-top: 11px;
  width: 165px;
  align-self: center;
  order: 1;
  text-align: center;
}

.order-h3 p {
  padding: 0;
  margin: 0;
}

.order-h3 .last-p-order-h3 {
  margin-bottom: 17px;
}

.popular-list li {
  width: 220px;
  min-height: 318px;

  border: 1px solid #eaeaea;
}

.popular-list h3 {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: black;
}

.striketrough {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  text-align: center;

  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #a9a9a9;
  text-decoration: line-through;
}

.striketrough.transparrent {
  color: transparent;
}

.sale {
  text-align: center;
  width: 75px;
  padding: 0;
  margin: 0;
  padding: 13px 0;
  padding-right: 35px;
  padding-left: 31px;
  margin: 0 auto;
  margin-bottom: 21px;

  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.background-popular-maker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 89px;

background-color: #f9f5f0;
}

.background-popular-maker h2 {
  padding: 0;
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.background-popular-maker .button {
  padding: 13px 70px;
}

.popular-maker {
  margin: 0;
  margin-bottom: 82px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  list-style: none;
}

.popular-maker li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 145px;
  margin-bottom: 20px;
}

.popular-maker li {
  border: 1px solid #eaeaea;
}

.popular-maker li:hover,
.popular-maker li:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-maker li:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services {
  padding-top: 68px;
  margin-bottom: 82px;
  width: 100%;
  background-color: #f4f8f9;
}

.services .container {
  background-image: url("../img/services_bg.png");
  background-color: #f4f8f9;
  background-repeat: no-repeat;
  background-position: center;
}

.services-title-wrapper {
  width: 450px;
  min-height: 96px;
}

.services h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
}

.services p {
  padding: 0;
  margin: 0;
  margin-bottom: 74px;

  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.buttons-advansed-wrapper {
  display: flex;
  align-items: flex-start;
  padding-bottom: 100px;
}

.services-list {
  padding: 0;
  margin: 0;
  margin-right: 80px;

  font-family: Cuprum;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;

  list-style: none;
}

.services-list button {
  width: 240px;
  min-height: 61px;
  text-align: left;
  padding-left: 22px;

  color: #ffffff;

  background-color: #32425c;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  border: none;
}

.services-list button:hover,
.services-list button:focus {
  background-color: #293449;
}

.services-list .button-current {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
}

.services-list .button-current:hover,
.services-list .button-current:focus {
  background-color: #ffffff;
}

.services-list li {
  margin: 0;
}

.services-advanced {
  width: 300px;
  min-height: 147px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.services-advanced h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.services-advanced p {
  padding: 0;
  margin: 0;

  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.description-contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.description div {
  width: 519px;
  min-height: 312px;
}

.description-regular {
  padding: 0;
  margin: 0;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.first-regular {
  margin-bottom: 25px;
}

.last-regular {
  width: 390px;
  margin-bottom: 22px;
}

.description-bold {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;

  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.description ul {
  list-style: none;
}

.description li {
  font-size: 18px;
  line-height: 20px;
}

.description a {
  margin-top: 37px;
  padding: 14px 40px 12px;
  display: inline-block;
}

.list-suppliers {
  padding: 0;
  margin: 0;
}

.list-suppliers p {
  padding: 0;
  margin: 0;
}

.list-suppliers li {
  margin-bottom: 22px;
}

.list-suppliers li:last-child {
  margin-bottom: 0;
}

.contacts div {
  width: 300px;
  min-height: 312px;
}

.contacts h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;

  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.contacts a {
  margin-top: 37px;
  padding-top: 14px;
  padding-right: 59px;
  padding-bottom: 12px;
  padding-left: 63px;
  display: inline-block;
}

/* Нужно довыровнять по горизонтали кнопки + отступы между способами доставки */

.footer-navigation {
  margin-top: 86px;

  background-color: #32425c;
}

.first-row-footer {
  display: flex;
}

.footer-logo {
  display: block;
  width: 220px;
  height: 68px;
  margin-right: 173px;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-logo img {
  margin-left: 41px;
  margin-top: 20px;
}

.footer-site-navigation {
  padding: 0;
  margin: 0;
  margin-top: 42px;
  width: 550px;
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.footer-site-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  opacity: 0.5;
}

.second-row-footer {
  display: flex;
  margin-top: 35px;
  padding-bottom: 53px;
}

.footer-adress-phone {
  padding: 0;
  margin: 0;
  margin-right: 91px;
  width: 322px;

  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-product-navigation {
  padding: 0;
  margin: 0;
  width: 525px;
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.footer-product-navigation a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-product-navigation a:hover,
.footer-product-navigation a:focus {
  text-decoration: underline;
}

.footer-product-navigation a:active {
  opacity: 0.5;
}

.footer-copyright {
  background-color: #293449;
}

.footer-copyright .container {
  display: flex;
  align-items: center;
}

.footer-copyright p {
  padding: 0;
  margin: 0;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.footer-copyright .copyright-p {
  width: 230px;
  margin-right: 160px;
}

.footer-copyright ul {
  list-style: none;
}

.footer-copyright a {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  text-decoration: underline;
}

.footer-copyright a:active {
  color: #ee3643;
}

.footer-social {
  margin-right: 118px;
  width: 132px;
  display: flex;
  flex-wrap: wrap;
}

.footer-social a {
  color: white;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  background-color: #ee3643;
}

.footer-feedback {
  width: 140px;
}

.footer-developed {
  margin-left: 49px;
  width: 96px;
}

/* Разметка каталога */

.red-li {
  line-height: 18px;

  background-color: #ee3643;
}

.user {
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}

.user-login-navigation {
  list-style: none;
}

.user-login-navigation a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.user-login-navigation a:hover,
.user-login-navigation a:focus {
  color: #ee3643;
}

.user-login-navigation a:active {
  color: #32425c;

  opacity: 0.3;
}

.bread-crumbs {
  list-style: none;
}

.bread-crumbs a {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: black;
}

.main-title {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filter h2 {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  background-color: #f2f6f8;
}

.filter label:active,
.filter input[type="checkbox"]:active,
.filter input[type="radio"]:active {
  opacity: 0.4;
}

.sorting h2 {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.sorting ul {
  list-style: none;
}

.type a {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;

  opacity: 0.3;
  border-bottom: 1px dotted #ee3643;
}

.sorting .current-li {
  color: #ee3643;

  border: none;
  opacity: 1;
}

.sorting a:hover {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.filter label {
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.filter input[type=submit] {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.products-list {
  list-style: none;
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-list a:active {
  border: 1px solid #ee3643;
}

.pagination-list .pagination-li-current {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.description-punches h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.description-punches p {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.modal-window h2 {
  font-size: 30px;
  line-height: 30px;
}

.modal-window a + button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 18px;
}

